<div class="row-fluid">
	<div class="span2">
		sidebar-content
	</div>
	<div class="span10">
		<div class="hero-unit">
			<h1>Fachschaft Philosophie</h1>
			<p>Fachschaft aller Philosophie-Studierenden an der Universit&auml;t zu K&ouml;ln</p>
		</div>
	</div>
</div>
