<% provide(:title, '') %>

<div style="margin-bottom:25px">
	<h2 style="display:inline">Neues</h2>
</div>

<%= render 'shared/articles_preview', articles: @articles, is_version: false, movable: false %>
