<% provide(:title, @article.title) %>
<section class="well">
	
	<% if signed_in? %>
		<%= link_to('<i class="icon-pencil pull-right"></i>'.html_safe, '/editor' + request.fullpath, title: 'Beitrag bearbeiten', ) %>
		<% store_save_url mercury_update_article_path(@article) %>
		<%= link_to('<i class="icon-th-list pull-right"></i>'.html_safe, versions_path(@article), title: 'Versionen anzeigen', ) %>
	<% end %>

	<h3 id="article_title" data-mercury="simple"><%= @article.title %></h3>
	
	<section id="article_body" data-mercury="full">
		<%= @article.body.html_safe %>
	</section>

</section>
