<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('#mycarousel').jcarousel({
    // Configuration goes here
    visible: 4,
    scroll: 1
  });
});
</script>

<style type="text/css">

/**
 * Overwrite for having a carousel with dynamic width.
 */
.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 90%;
  height: 200px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 100%;
  height: 100%;
}

.jcarousel-skin-tango .jcarousel-item {
  height: 100%;
}

/*#display {
  clear: both;
  width: auto;
  height: 250px;
  overflow: scroll;
  border: 1px solid #666;
  background-color: #fcfcfc;
  padding: 10px;
}*/
</style>

<ul id="mycarousel" class="jcarousel-skin-tango" style="">
  <% events.each do |event| %>
    <li class="ep-event">
      <%= render 'events/event_preview', event: event %>
    </li>
  <% end %>
</ul>
<% if signed_in? %>
  <%= link_to 'Neue Veranstaltung', new_event_path, class: 'pull-right' %>
<% end %>
