@import "bootstrap";

/* universal */

.container-fluid {
	width : 85%;
}

.navbar-inner {
	background-color: #eaeaea;
	background-image: none;
}

//h3 .user-icon {
//	vertical-align: middle;
//}

//.center {
//	text-align: center;
//}
