<% provide(:title, 'Seite erstellen') %>

<h3>Seite erstellen</h3>

<%= form_for(@category) do |f| %>
	<%= f.label :name, 'Name' %>
	<%= f.text_field :name %>
	
	<p><%= f.submit 'Erstellen', class: "btn btn-primary" %></p>
<% end%>

