<% if @category.single_page? %>


	<%= render 'shared/article_full_view', article: @article, is_version: false, single_page_category: true %>


<% else %>


	<% provide(:title, @category.name) %>
	<div style="margin-bottom:25px">
		<h2 style="display:inline"><%= @category.name %></h2>
		<%= render('shared/category_edit_links', category: @category) if signed_in? %>
	</div>

	<%= render 'shared/articles_preview', articles: @articles, is_version: false, movable: true %>


<% end %>
