<% provide(:title, @category.name) %>

<% @articles.each do |article| %>
	<section class="well">
		<%= render('shared/article_edit_links', article: article) if signed_in? %>
		<h3><%= link_to(article.title, article_path(@id=article.id)) %></h3>
		<p class="lead"><%= (article.body[0...266]+"...").html_safe %></p>
	</section>
<% end %>

<% if signed_in? %>
	<%= link_to('<i class="icon-plus pull-right"></i>'.html_safe, 
				new_article_path(category: @category.id), title: 
				'Beitrag hinzuf&uuml;gen'.html_safe) %>
<% end %>
